.react-debugger-hook_{
  &console-wrapper{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 100px;
    z-index: 20000;
    background-color: rgba(0,0,0,0.8);
    color: red;
  }

  &debug-prop{
    padding-left: 16px;
    align-items: "center";
  }

  &label{
    white-space: nowrap;
    font-size: 16px;
  }
  &input{
    color: white;
    font-size: 16px;
  }
}